.input {
    width: 100%;
    padding: 12px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #d1d1d1;
    color: #1f1f1f;
    font-size: 16px;
    line-height: 22px;
}